body {
    background-color: blueviolet;
    color: white;
    font-size: 15px;
}

.item-row {
    background-color: green;
    border-radius: 8px;
}

.ulli {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inner-div{
    background-color: white;
    border-radius: 8px;
    color: black;
}

hr {
    border-color:#999966;
}

.due {
    background-color: crimson;
    border-radius: 3px;
    color: white;   
}

.div-confirm{
    width: 70%;
    color: black;
    background-color: white;
    border-radius: 8px;
    height: 50%;
}

.del{
    font-weight: bolder;
    font-size: 20px;
}

ul li{
    display: inline;
    
}
