{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}

  Update Task

{% endblock title %}


{% block content %}
    <div class="container">

        <div class="container py-3 my-3 div-confirm">
            <p><a class="btn btn-sm btn-success" href="{% url 'task_list' %}">Back to List</a></p>
            <p class="text-center"><b>Update Task</b></p>
            <form method="POST" action="">
                {% csrf_token %}

                <label for="title">Title</label>
                {% render_field form.title class="form-control mb-3" %}

                <label for="due">Due</label>
                {% render_field form.due class="form-control mb-3" %}
                
                <label for="complete">Complete</label>
                {% render_field form.complete class="form-control mb-3" %}

                <input class="btn btn-sm btn-success form-control mt-3" type="submit" value="Update" name="Update">
            </form>

        </div>    
    </div>
{% endblock content %}


